/* headercopy.css */

.brand > a > img { width: 8rem; height: auto; margin: 0.5rem 0.5rem 0.5rem 0rem; }  
.theme-lang, .content-box { display: flex; } 
.theme-color-text { font-size: 2.2rem; color: var(--so_fresh); text-align: center; margin-right: 2rem; } 
#theme-color > p { transition: margin-right 0.4s ease; }   
nav { margin: 0; display: flex; }  
.index-menu-container { display: grid; grid-template-columns: repeat(3, 1fr); 
    justify-content: end; width: auto; height: auto; padding: 1rem 0 2rem 0; }
.star-button-box-container,
.index-menu,
.language-dropdown { grid-column: span 1; } 
.index-menu-container > * { margin: 0; } 
.index-menu { font-weight: bold; margin: 0 ; width: auto; height: auto; } 
.star-button-box { width: 4.5rem; height: 2rem; border: 1px solid var(--so_fresh); border-radius: 3rem;  } 

/* 햄버거 */
.fab img { width: 3rem; height: 3rem; position: absolute; right: 0.5rem; top:1.5rem } 
/* #fab 화살표 이모지 */
#fab { float: left; scale: 2; width: 50px; height: 50px; position: fixed; bottom: 4vh; left: 3rem; z-index: 9999; } 

.brand-container { grid-template-columns: repeat(4, 1fr); } 
.brand-box { grid-column: span 4; width: 100%; } 
.brand-box > a { width: fit-content; height: fit-content; } 

.content-box { grid-column: span 3; } 
.container { grid-column: span 4; display: flex; justify-content: space-between; align-items: flex-start; flex-wrap: wrap; gap: 2rem; } 
.darkmode-box { grid-column: span 3; justify-self: start; display: flex; margin: 1rem 0; }  
.star-button-box-container { width: fit-content; height: fit-content; } 

 
/* Tablet (768px ~ 1023px, 6-cols) */
@media screen and (min-width: 768px) and (max-width: 1023px){
 .header { padding: 1.5rem; }   
 .index-menu-container { width: fit-content; display: none; margin: 3rem 1rem 1rem 1rem; }  
 .star-button-box-container { margin: 0; } 
 .star-button-box { width: 4.5rem; height: 2rem; border: 1px solid var(--so_fresh); border-radius: 3rem; } 
 }
 
 /* Desktop (min-width: 1024px, 12-cols) */
 @media screen and (min-width: 1024px){
 .header { padding: 1.5rem; } 
 .fab { display: none; }  
 nav { display: block; }
 .language-dropdown { width: 8rem; }
 /* .index-menu { margin: 0 1.5rem 3rem 1rem; min-width: 7.5vw; }  */
 /* .star-button-box-container { margin: 0 1.2rem 0 1rem; }  */
 }
 
 
